@import '../../assets/styles/variables.scss';

.profile-link {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.profile-image {
    margin-right: 13px;
    width: 46px;
    vertical-align: middle;
}