@import '../../styles/variables.scss';

.flex_aligner {
    display: flex;
    align-items: center;
}

.article { 
    box-sizing: border-box;
    position: relative;
    width: 58.625rem;
    height: min-content;
    padding: 1rem;
    background-color: white;
    margin: 0 auto;
    display: block;
    @include box-borders;
}
.article-header-wrapper {
    display: flex;
    justify-content: space-between;
}
.creator-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.name {
    font-size: 1.125rem;
}
.date {
    font-size: 0.75rem;
    color: $secondary-color;
}
.avatar {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
}
.slug {
    display: inline-block;
    margin: 0;
    @include standardFont;
    font-size: 1.25rem;
    color: $ui-color;
    text-decoration: none;
}
.title_slug {
    color: black;
}
.description_wrapper {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: flex-start;
}
.description {
    @include standardFont;
    color: $secondary-color;
    margin: 0;
    font-size: $secondary-fz;
    line-height: 1.375rem;
}

.like-btn {
    display: inline-flex;
    align-items: center;
    margin-left: 0.6rem;
    vertical-align: middle;
}

