@import '../../assets/styles/variables.scss';

.form {
    width: min-content;
    @include form-box;
}
.article-form {
    width: 58rem;
    @include form-box;
}
.article-form > label > input {
    width: 56rem
}
.article-form > label > textarea {
    resize: none;
    box-sizing:border-box;
    width: 57rem;
    height: 10.5rem;
    padding: 1rem;
}
.title {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
}
.divider {
    width: 20rem;
    height: 0.07rem;
    background: #E8E8E8;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
}
.policy {
    display: flex;
    align-items: flex-start;
    width: 20rem;
    gap: 0.5rem;
    line-height: 1.375rem;
    font-size: 0.95rem;
}
.submit {
    display: flex;
    width: 19.9375rem;
    padding: 0.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    background-color: $ui-color;
    border-color: $ui-color;
    border-radius: 0.25rem;
    color: white;
}

.out {
    color: #8C8C8C;
    text-align: center;
    font-size: 0.75rem;
}
.link-out {
    color: $ui-color;
    text-decoration: none;
    margin-left: 0.2rem;
}
