@import './normalize.css';

@font-face {
  font-family: 'Inter';
  src: url('C:/Users/marac/OneDrive/Рабочий стол/React/blog-app/src/fonts/Inter-VariableFont_slnt,wght.ttf')
    format('truetype');
}
html {
  font-size: 16px;
}
body {
  font-family: 'Inter';
  background-color: white;
  box-sizing: border-box;
}
main {
  background-color: #ebeef3;
  min-height: 90vh;
  content-visibility: auto;
  padding: 1.6rem;
}
.content-wrapper {
  margin: 0 auto;
  max-width: 90rem;
}
