@import '../../assets/styles/variables.scss';
.header {
    @include standardFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background: white
}
.buttons {
    display: flex;
    gap: 0.5rem;
}
.link {
    text-decoration: none;
    color: black;
}