//fonts
$font-family: 'Inter';
$standard-fz: 1.125rem;
$secondary-fz: 0.75rem;

@mixin standardFont {
    font-family: $font-family;
    font-weight: 400;
    font-size: $standard-fz;
}


//colors
$bcg-color: #EBEEF3;
$secondary-color: rgba(0, 0, 0, 0.648);
$success-color: #52C41A ;
$error-color: #F5222D;
$ui-color: #1890FF;


//cards
@mixin box-borders {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}


@mixin form-box {
    height: min-content;
    margin: 3rem auto;
    display: flex; 
    padding: 3rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.3125rem;
    background-color: white;
    @include box-borders;
}

